.checkout-page {
  width: 57%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  color: aliceblue;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 10%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  .text-warning {
    color: rgb(255, 255, 255);
    font-weight: 400;
    p {
      font-size: 12px;
      font-weight: 400;
    }
  }
  button {
    width: 150px;
    margin-left: auto;

    span {
      font-family: 'Lobster', cursive !important;
      font-family: 'Spartan', sans-serif !important;
    }
    &:hover span {
      background: linear-gradient(rgb(40, 160, 229), rgb(1, 94, 148));
    }
  }
}
